wheel
setuptools
beautifulsoup4==4.12.3
gTTS==2.5.1
imageio==2.34.0
Imageio-ffmpeg
numpy==1.26.4
openai==1.16.2
openai-whisper
openwakeword==0.6.0
Pillow==10.3.0
PyAudio==0.2.14
pydub==0.25.1
Requests==2.31.0
SpeechRecognition==3.10.1
spotipy==2.23.0
sympy==1.12
urllib3==2.2.1
TensorFlow
